/* non media query styling basically reflects 1440 since I didn't have mobile assets */

section {
  position: relative;
}

/*  HERO  */
.img-div {
  background-position: center;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
.img-wrapper {
	position: absolute;
	width: 100%;
}
.outer-img-wrapper {
	position: absolute;
}
.hero .img-div {
  background:url('/assets/homepage_hero_desktop.png') no-repeat center;
  background-size:cover;
}
.hero .img-wrapper {
	padding-bottom: 60%;
	position: relative;
}

/*  SECTIONS  */
.content {
  margin: 0 auto;
	z-index: 100;
	position: relative;
}
.section1 {
  background: #fff;
	padding: 66px 0 18%;
}
.section1 .content {
	margin: 0 0 0 22%;
	width: 62%;
}
.section1 .img-wrapper {
	padding-bottom: 24%;
  width: 34%;
  left: 4%;
	bottom: 0;
}
.section1 .img-div {
  background:url("/assets/white_climbers.png") no-repeat center;
	background-size:cover;
}

/* ------ */
.section2 {
	color: #fff;
  background: #4b4d49;
	padding: 8% 26% 7% 8%;
}
.section2 .img-div {
  background:url("/assets/topagraphy_desktop.png") no-repeat center;
	background-size:cover;
}
.section2 .img-wrapper {
	padding-bottom: 85%;
	position: relative; width: 100%;
}
.section2 .outer-img-wrapper {
	width: 36%;
	top: 3%;
	right: 2%;
}

/* ------ */
.section3 {
  background: #3a3a38;
	padding: 9% 6% 11% 32%;
	color: #fff;
}
.section3 .img-div {
  background:url("/assets/home_green_tress_desktop.png") no-repeat center;
	background-size:cover;
}
.section3 .img-wrapper {
	padding-bottom: 58%;
	position: relative; width: 100%;
}
.section3 .outer-img-wrapper {
	width: 77%;
	top: 11%;
	left: 2%;
}
.section3 h2 {
  display: inline-block;
  margin: 0 0 31px 20px;
}
.section3 .content img {
  width: 6.3em;
  display: inline-block;
	position: relative;
  top: 21px;
  left: -7px;
}
/* ------ */
.section4 {
  background: #fff;
	padding: 7% 26% 19% 8%;
}
.section4 .img-div {
  background:url("/assets/home_graph_climbers_desktop.png") no-repeat center;
	background-size:cover;
}
.section4 .img-wrapper {
	padding-bottom: 74%;
	position: relative; width: 100%;
}
.section4 .outer-img-wrapper {
	width: 31%;
	bottom: 13%;
	right: 3%;
}
/* ------ */
.section5 {
  background: #B5B2AA;
	margin-bottom: -2px;
	padding: 21% 4% 1% 30%;
}
.section5 h2 {
  text-align: left;
	margin: 0;
}
.section5 > img {
  width: 100%;
  position: absolute;
}
.section5 .hr {
	width: 77%;
  border-top: 4px solid #848881;
  margin: 20px 0 31px 0;
}
.section5 .diagonal-line {
	width: 96px;
	height: 29px;
	border-bottom: 4px solid #848881;
	-webkit-transform: translateY(-20px) translateX(5px) rotate(27deg);
	position: absolute;
	top: 9%;
	left: -7%;
}


/***** ALL MOBILE *****/
@media only screen and (max-width: 575px) {
  /* hero */
	.hero .img-div {
		background:url('/assets/homepage_hero_mobile.png') no-repeat center;
		background-size:cover;
	}
	.hero .img-wrapper {
		padding-bottom: 187%;
	}
  /* section 1 */
	.section1 {
		padding: 10% 5% 58%;
	}
	.section1 .content {
		margin: 0 auto;
		width: 100%;
	}
	.section1 .img-wrapper {
		-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
		right: 2%;
		bottom: 2%;
		width: 81%;
		left: auto;
		padding-bottom: 58%;
	}
  /* section 2 */
	.section2 {
		padding: 13% 5% 51%;
		color: #fff;
	}
	.section2 h2 {
		margin: 0px -3% 25px;
	}
	.section2 .outer-img-wrapper {
		width: 75%;
		bottom: 2%;
		right: 5%;
		top: auto;
	}
  /* section 3 */
	.section3 {
    padding: 12% 6% 39%;
	}
	.section3 .content img {
		width: 70%;
		display: block;
		top: auto;
		left: auto;
		margin: 0 0 9% 6%;
	}
	.section3 h2 {
		display: none;
	}
	.section3 .outer-img-wrapper {
	  bottom: 2%;
	  top: auto;
	  width: 100%;
	  left: -3%;
	}
  /* section 4 */
	.section4 {
		padding: 17% 4% 48%;
	}
	.section4 h2 {
		font-size: 1.9em;
		margin: 0 auto 11%;
	}
	.climbers-chart-mobile {
		bottom: 15%;
    width: 45%;
    right: -2%;
	}
	.section4 .outer-img-wrapper {
		width: 80%;
		bottom: 2%;
		right: -2%;
	}
  /* section 5 */
	.section5 {
		padding: 10% 0 97%;
	}
	.section5 .hr {
		display: none;
	}
	.section5 h2 {
		text-align: center;
		margin: 0 auto 8%;
	}
	.section5 .content {
		padding: 0 5%;
	}
  .section5 .outer-img-wrapper {
    bottom: 0;
    width: 100%;
  }
  .section5 .img-wrapper {
    position: relative; width: 100%;
    padding-bottom: 117%;
  }
	.section5 .img-div {
	  background:url('/assets/homepage_footer_mobile.png') no-repeat center;
	  background-size:cover;
	}

	footer {
		display: none;
	}
}

/* ***** MOBILE - SUB SECTION A **** */
@media only screen and (max-width: 399px) {
	.section4 {
		padding: 17% 4% 56%;
	}
	.section4 h2 {
    margin: 0 -1% 11%;
	}
}

/* ***** MOBILE - SUB SECTION B **** */
@media only screen and (min-width: 400px) and (max-width: 575px) {
	.section1 {
		padding: 10% 5% 58%;
	}
	.section4 h2 {
		font-size: 2.3em;
	}
}

/******** ALL DESKTOP ********/
@media only screen and (min-width: 576px) {
	.section5 .outer-img-wrapper {
		left: 0;
		top: 6%;
		width: 100%;
	}
	.section5 .img-wrapper {
		padding-bottom: 62%;
		position: relative; width: 100%;
	}
	.section5 .img-div {
	  background:url("/assets/homepage_section5_desktop.png") no-repeat center;
		background-size:cover;
	}
  footer {
    background:url('/assets/footer.png') no-repeat center;
    background-position: center;
    background-size:cover;
    top: 0; bottom: 0; left: 0; right: 0;
    padding-bottom: 36%;
    position: relative;
  }
}

/******** DESKTOP SUB SECTION A ********/
@media only screen and (min-width: 576px) and (max-width: 958px) {

	.section1 {
		padding: 5% 0 18%;
	}

	.section3 .content img {
		width: 3.5em;
	}
	.section3 h2 {
		margin: 0 0 17px 2px;
	}

  .section5 .outer-img-wrapper {
    top: 2%;
  }
	.section5 .hr {
    width: 410px;
    border-top: 3px solid #848881;
    margin: 10px 0 15px;
	}
}

/******** DESKTOP SUB SUB SECTION (sub section of A)********/
@media only screen and (min-width: 576px) and (max-width: 700px) {

	.section3 .content img {
		width: 2.5em;
    top: 9px;
	}

	.section5 h2 {
		font-size: 1.7em;
	}
	.section5 .hr {
		width: 355px;
		border-top: 2px solid #848881;
		margin: 10px 0 15px;
	}
}

/******** DESKTOP SUBSECTION - SMALL/MEDIUM SCREENS ********/
@media only screen and (min-width: 959px) and (max-width: 1249px) {

	.section1 {
		padding: 5% 0 18%;
	}

	.section3 {
		padding: 8% 6% 11% 32%;
	}
	.section3 .content img {
		width: 5em;
	}
	.section3 h2 {
		margin: 0 0 38px 2px;
	}

	.section5 h2 {
		font-size: 2.6em;
	}
  .section5 .hr {
    width: 522px;
    border-top: 3px solid #848881;
  }
  .section5 .outer-img-wrapper {
    top: 3%;
  }
}

/******** DESKTOP SUBSECTION - MED/LARGE SCREENS ********/
@media only screen and (min-width: 1250px) and (max-width: 1600px){
  .section5 .hr {
    width: 743px;
    border-top: 4px solid #848881;
  }
  .section5 .outer-img-wrapper {
    top: 2%;
  }

}

/******** DESKTOP SUBSECTION - LARGE SCREENS ********/
@media only screen and (min-width: 1601px) and (max-width: 2199px) {

	.section3 {
		padding: 9% 6% 15% 32%;
	}

	.section5 .img-wrapper {
		width: 100%;
	}

  .section5 .hr {
    width: 925px;
    border-top: 5px solid #848881;

  }
  .section5 .outer-img-wrapper {
    top: 3%;
  }
}

@media only screen and (min-width: 2100px) and (max-width: 2199px) {
  .section5 .outer-img-wrapper {
    top: 0%;
  }
}


/******** DESKTOP SUBSECTION - LARGEST SCREENS ********/
@media only screen and (min-width: 2200px) {

	.section1 {
		padding: 5% 0 18%;
	}

	.section3 .content img {
    width: 10.3em;
    top: 43px;
	}

  .section5 .outer-img-wrapper {
    top: 3%;
  }
  .section5 .hr {
    border-top: 6px solid #848881;
    width: 1275px;
  }
}
