/*
olive - 717570
dark brown - 444443
khaki - B5B2AA
orange - FF8110
*/

@import url('https://fonts.googleapis.com/css?family=Oswald:600|Bitter');
@font-face {
	font-family: 'Sequel Rounded';
	src: url('/assets/fonts/OGJ Type Design - Sequel Rounded Extended.otf'),
		url('/assets/fonts/OGJ Type Design - Sequel Rounded Extended.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
  font-size:12px;
}
h1 {
  font-family: 'Sequel Rounded', sans-serif;
  position: absolute;
  top: 60%;
  color: white;
  letter-spacing: .6em;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  text-align: center;
}
h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;

	margin: 0 0 53px 0;
	letter-spacing: 1.4px;
	font-size: 3.8em;
}
p {
  font-family: 'Bitter', serif;
	letter-spacing: 1px;
	margin-bottom: 33px;


  font-size: 1.8em;
	line-height: 1.4;
}
section {
  position: relative;
}

/*  NAVIGATION  */
header {
  background: linear-gradient(to right, rgba(68,68,67,0), rgba(68,68,67,.3) 30%, rgba(68,68,67,.7) 40%);
  position: absolute;
  z-index: 99;
  width: 100%;
  text-align: center;
  color: #fff;
  top: 30px;
  font-family: 'Sequel Rounded', sans-serif;
  letter-spacing: .2em;
	/* to adjust font/height of header */
  max-height: 35px;
	font-size: .8em;
}
header ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header > ul > li {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
	/* to adjust font/height of header */
	padding: 12px 5%;
}
/* nested nav */
header ul ul {
  border-top: 1px solid #FF8110;
  display: none;
  background: #444443;

	margin: 10px auto 0;
}
header ul ul li {
  font-size: .9em;
  cursor: pointer;
  color: #fff;
	padding: 10px 0;
	/* to adjust font/height of header */
	margin: 0 -20px;
}
header a {
  text-decoration: none;
}
header a, header a:visited, header a:hover, header a:active {
  color: inherit;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #FF8110;
  margin: 0 auto;
}
.hover-over-services {
  border-radius: 6.5px;
  background: #444443;
}

/*  HERO  */
.img-div {
  background-position: center;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}
.img-wrapper {
	position: absolute;
	width: 100%;
}
.hero .img-div {
  background:url('/assets/hero_desktop.png') no-repeat center;
  background-size:cover;
}
.hero .img-wrapper {
	padding-bottom: 57%;
	position: relative;
}

/*  SECTIONS  */
.content {
  margin: 0 auto;
	z-index: 100;
	position: relative;
}
.section1 {
  background: #fff;
	padding: 66px 0 18%;
}
.section1 .content {
	width: 60%;
	margin: 0 0 0 22%;
	width: 62%;
}
.section1 .img-wrapper {
	padding-bottom: 27%;
  width: 34%;
  left: 4%;
	bottom: 0;
}
.section1 .img-div {
  background:url("/assets/white_climbers.png") no-repeat center;
	background-size:cover;
}

/* ------ */
.section2 {
  background: #717570;
	padding: 8% 26% 7% 8%;
}
.section2 .img-wrapper {
	padding-bottom: 27%;
  width: 34%;
  bottom: 4%;
  left: 4%;
}
.section2 .img-div {
  background:url("/assets/topography_desktop.png") no-repeat center;
	background-size:cover;
}

/* ------ */
.section3 {
  background: #444443;
  color: #fff;
  margin: -1px 0 0 0;
}
.section3 .content {
  position: relative;
  z-index: 100;
  padding: 30px 0px;
  width: 57%;
  margin: 0px 8% 0 auto;
}
.section3 h2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 11px;
}
.section3 > img {
  width: 40%;
  position: absolute;
  left: 80px;
   max-width: 450px;
  top: 100px;
}
.section3 .content img {
  width: 3.3em;
  display: inline-block;
}
/* ------ */
.section4 {
  background: #fff;
}
.section4 .content {
  margin: 0 auto 75px 18%;
  position: relative;
  z-index: 100;
}
.section4 img {
  position: absolute;
}
.section4 .climbers-img {
  width: 40%;
  right: 0px;
  top: 162px;
}
.section4 .chart-img {
  width: 13%;
  right: 251px;
  top: 332px;
}
/* ------ */
.section5 {
  background: #B5B2AA;
	margin-bottom: -2px;
}
.section5 .content {
  position: relative;
  z-index: 100;
  margin: 0 7% 0 auto;
}
.section5 h2 {
  text-align: left;
}
.section5 > img {
  width: 80%;
  left: 0;
  position: absolute;
  top: -50px;
}
.section5 .content > img {
  position: absolute;
  width: 23%;
  left: -192px;
  top: -136px;
}
.section5 p:last-child {
	margin-bottom: 0;
}

footer {
  background:url('/assets/footer.png') no-repeat center;
  background-position: center;
  background-size:cover;
  /*position: absolute;*/
  top: 0; bottom: 0; left: 0; right: 0;
}
footer {
	padding-bottom: 36%;
}

/* -------------------------------------- */
/************* MOBILE ONLY ****************/
/* -------------------------------------- */
@media only screen and (max-width: 575px) {
	p {
		line-height: 1.3;
		font-size: 1em;
	}
	h2 {
		font-size: 1.8em;
		margin: -1px 0 25px 0;
		text-align: center;
	}
	header {
		top: 0;
		max-height: 39px;
		background: rgba(12,12,12,.4);
		font-size: .6em;
		text-align: left;
		letter-spacing: .1em;
	}
	header img {
		position: absolute;
		width: 31px;
		top: 4px;
		left: 3%;
	}
	header > ul {
		-webkit-padding-start: 0px;
		display: inline-block;
		margin-left: 12%;
		width: 100%;
	}
	header > ul > li {
		padding: 16px 0;
		text-align: center;
	}

	header > ul > li:first-child {
		width: 39%;
	}
	header > ul > li:nth-child(2) {
		width: 22%;
	}
	header > ul > li:last-child {
		width: 22%;
		margin-right: 3%;
	}

	header ul ul li {
		font-size: .8em;
	}
	header ul ul {
		background: none;
		margin: 16px auto 0;
	}
	.arrow-down {
		border-top: 6px solid #FF8110;
	}
	.services-expanded {
		background: rgba(12,12,12,.7);
		color: #FF8110;
	}

	.hero .img-div {
		background:url('/assets/hero_mobile.png') no-repeat center;
		background-size:cover;
	}
	.hero .img-wrapper {
		padding-bottom: 180%;
	}

	.content {
		width: 90%;
		margin: 0px auto;
		padding: 15px 0 0 0;
	}
	.section1 .content {
		margin: 30px auto 0;
		padding-bottom: 20%;
	}
	.section1 img {
		bottom: 15%;
		width: 55%;
		max-width: 255px;
	}

	.section2 img {
		width: 60%;
    top: -4%;
    left: 12%;
	}
	.section2 .content {
    margin: -1% auto 0;
	}

	.section3 .content {
    width: 90%;
		margin: 0px auto;
		padding: 15px 0 0 0;
	}
	.section3 .content img {
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0;
    top: -13%;
	}
	.section3 h2 {
		display: block;
		vertical-align: bottom;
		margin-left: auto;
		}
	.section3 > img {
		width: 100%;
    top: 1%;
    left: 0;
	}

	.section4 .content {
		margin: -1% auto 15%;
	}
	.climbers-chart-mobile {
		bottom: 15%;
    width: 45%;
    right: -2%;
	}


	.section5 .content {
		margin: -1px auto 0;
	}
	.section5 h2 {
		text-align: center;
	}

	footer {
	  background:url('/assets/10zing_mobileHP_footer.png') no-repeat center;
	  background-size:cover;
	}
	footer {
		padding-bottom: 107%;
	}
}
/******** DESKTOP ONLY ********/
@media only screen and (min-width: 576px) {
  .navigation li:hover {
    color: #FF8110;
  }
}

/* ------------------------------------------- */
/**************** MEDIA QUERIES ****************/
/* ------------------------------------------- */

/******** SMALL SCREENS ********/
@media only screen and (min-width: 576px) and (max-width: 958px) {

	.section1 img {
		bottom: 27%;
	}

	.section2 .content {
		margin: 0 auto 0 19%;
	}
	.section2 img {
		top: -18%;
		left: 5%;
	}

	.section3 > img {
		width: 59%;
    position: absolute;
    left: 1%;
    top: 28px;
	}
	.section3 .content {
		width: 65%;
	}

	.section4 .climbers-img {
    top: 190px;
	}
	.section4 .chart-img {
    top: 55%;
		right: 15%;
	}

	.section5 .content > img {
	  left: -156px;
	  top: -110px;
	}
	.section5 > img {
		width: 70%;
    top: -11%;
	}
}

/******** MEDIUM SCREENS ********/
@media only screen and (min-width: 959px) {

	h2 {
		font-size: 2.6em;
	}
	p {
		font-size: 1.3em;
	}
	/* .content {
		width: 50%;
	} */

	.section1 img {
    width: 40%;
	}

	/* .section2 .content {
		max-height: 230px;
	}
	.section2 img {
		left: 7%;
	} */

	.section3 .content {
	  width: 53%;
	  margin: 0px 12% 0 auto;
	}

	.section4 .content {
	  margin: 0 auto 75px 23%;
	  width: 50%;
	}

	.section5 .content {
    margin: 0 11% 0 auto;
		width: 60%;
	}
	.section5 > img {
		width: 69%;
		top: -23%;
    max-width: none;
		min-width: 716px;
	}
	.section5 .content > img {
    width: 20%;
		left: -166px;
	}

/******** LARGE SCREENS ONLY ********/
@media only screen and (min-width: 1250px) {
	h2 {
		font-size: 3.7em;
	}
	p {
		font-size: 1.8em;
		line-height: 1.3;
	}

	/* .section1 img {
		bottom: 21%;
	} */

	/* .section2 .content {
    max-height: none;
	}
	.section2 img {
		top: -24%;
	} */

	.section3 img {
		width: 50%;
    left: 4%;
		max-width: none;
    top: 18%;
	}
	.section3 h2 {
		margin-left: 19px;
	}

	.section4 .content {
		width: 60%;
    margin: 0 auto 10% 12%;
	}
	.section4 .chart-img {
		top: 57%;
	}
	.section4 .climbers-img {
		top: 35%;
	}

	.section5 .content {
		margin: 0 11% 0 auto;
    width: 60%;
	}
	.section5 .content > img {
		width: 23%;
    left: -29%;
	}
	.section5 > img {
		top: -10%;
    max-width: none;
    width: 85%;
	}

}
