html, body {
	margin:0;
	padding:0;
	height:100%
}

.hero {
  background:url('/assets/hero.png') no-repeat center;
  background-position: center;
  background-size:cover;
  /*position: absolute;*/
  top: 0; bottom: 0; left: 0; right: 0;
}
.hero {
  padding-bottom: 58%;
}

.section1 {
  background: blue;
}
.section2 {
  background: pink;
}
.section3 {
  background: green;
}
.section4 {
  background: orange;
}
.section5 {
  background: purple;
}

.section {
  position: relative;
  color: #fff;
  text-align: center;
}
.section:before {
  position: absolute;
  content:'';
}

.diagonal {
  z-index: 1;
  padding: 3em;
}

/*.diagonal_sw-ne {
  z-index: 1;
  padding: 3em;
}*/
.diagonal_sw-ne:before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
}
.diagonal_nw-se:before {
  -webkit-transform: rotate(-3deg);
  transform: rotate(3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
}
