section {
  position: relative;
}


/* BIOS */
.about.section2 {
  background: #262626;
}
.about.section2 p {
  color: #e9e9e9;
}

.about.section2 .outer-img-wrapper {
  width: 78%;
  position: relative;
  margin: 0 auto;
  bottom: auto;
  right: auto;
}

.about.section2 .img-wrapper {
  padding-bottom: 98%;
}
.about .bio.alex .img-div {
  background:url("/assets/alex_mobile.png") no-repeat center;
  background-size:cover;
}
.about .bio.juan .img-div {
  background:url("/assets/juan_mobile.png") no-repeat center;
  background-size:cover;
}


/* ------ */
.section5.about {
  background: #b3b0a6;
}

footer {
  background:url('/assets/footer.png') no-repeat center;
  background-position: center;
  background-size:cover;
  top: 0; bottom: 0; left: 0; right: 0;
}
footer {
	padding-bottom: 36%;
}

/*
Mobile <= 576
- sub range: 0-399
- sub range: 400-575

Desktop = 576+
- 576-958
  - 576-700
- 959-1249
- 1250-1600
- 1601-2199
- 2200+ (thunderbolt)
/*

/***** ALL MOBILE *****/
@media only screen and (max-width: 575px) {

  .hero .img-div {
    background:url('/assets/About_hero_mobile.png') no-repeat center;
    background-size:cover;
  }
  .hero .img-wrapper {
  	padding-bottom: 189%;
  }

	.section1 .content {
		margin: 0 auto;
		width: 100%;
	}
	.section1 .img-wrapper {
		-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
		right: 2%;
		bottom: 2%;
		width: 81%;
		left: auto;
		padding-bottom: 58%;
	}

  .section1-v2 {
    padding: 6% 1% 11% 4%;
  }
  .section1-v2 h2 {
    margin: 0 auto 11%;
  }
  .section1-v2 p {
    font-size: 1.4em;
  }

  .about.section2 {
    padding: 13% 5% 16%;
  }
  .about.section2 h2 {
    margin: 0 0 20% 0;
  }
  .bio.alex {
    margin-bottom: 75px;
  }
  .about.section2 .outer-img-wrapper {
    width: 78%;
  }

	.section5.about {
		padding: 10% 0 106%;
	}
	.section5.about .img-div {
	  background:url('/assets/About_footer_mobile.png') no-repeat center;
	  background-size:cover;
	}
	.section5.about .img-wrapper {
		position: relative; width: 100%;
		padding-bottom: 169%;
	}

	footer {
		display: none;
	}
}

/* ***** MOBILE - SUB SECTION A **** */
@media only screen and (max-width: 399px) {
	.section4 {
		padding: 17% 4% 56%;
	}
	.section4 h2 {
    margin: 0 -1% 11%;
	}
}

/* ***** MOBILE - SUB SECTION B **** */
@media only screen and (min-width: 400px) and (max-width: 575px) {
	.section1 {
		padding: 10% 5% 58%;
	}
}
/* *************************** */
/******** ALL DESKTOP ********/
/* **************************** */

@media only screen and (min-width: 576px) {

  /* hero */
  .hero .img-div {
    background:url('/assets/About_hero_desktop.png') no-repeat center;
    background-size:cover;
  }

  /* about section */
  .section1-v2 {
    padding: 4% 14% 20%;
  }
  .section1-v2 p {
    padding-left: 11%;
  }
  .section1-v2 img {
    position: absolute;
    width: 24%;
    right: 5%;
    bottom: 10%;
  }

  /* bio section */
  .about .content {
    width: 80%;
    margin: 0 auto;
  }
  .about .bio {
    width: 44%;
    display: inline-block;
  }
  .about .bio.juan {
    float: right;
  }
  .about .bio.juan p {
    padding-left: 0;
    /* padding-left: 2%; */

  }
  .about.section2 {
  	padding: 8% 0% 7%;
  }
  .about.section2 h2 {
    margin: 0 0 9% 0;
  }
  .about.section2 .outer-img-wrapper {
    width: 60%;
  }
  .about h3 {
    font-size: 1em;
    margin: 1% 0 7% 0;
  }

  /* footer */
  .section5.about {
    padding: 1% 0 47%;
  }
  .section5 .outer-img-wrapper {
    width: 100%;
    left: auto;
    top: auto;
    bottom: 0;
  }
	.section5 .img-wrapper {
    padding-bottom: 73%;
    left: auto;
    top: auto;
    width: 100%;
	}
	.section5 .img-div {
	  background:url("/assets/About_footer_desktop.png") no-repeat center;
		background-size:cover;
	}
  .section5.about .content {
    width: 65%;
  }
  .section5.about h2 {
    text-align: center;
    margin: 7% 0 7%;
  }
}

/******** DESKTOP SUB SECTION A (effectively 700 - 958) ********/
@media only screen and (min-width: 576px) and (max-width: 958px) {

  .section1-v2 h2 {
    margin: 0 0 5% 0;
  }
  .about.section2 h2 {
    margin: 0 0 4% 0;
  }
  .about .bio.juan p {
    padding-left: 0;
    /* padding-left: 5%; */
  }
}

/******** DESKTOP SUB SUB SECTION (sub section of A)********/
@media only screen and (min-width: 576px) and (max-width: 700px) {

  .section1-v2 {
    padding: 4% 14% 20%;
  }

	.section3 .content img {
		width: 2.5em;
    top: 9px;
	}

	.section5 h2 {
		font-size: 1.8em;
	}
}

/******** DESKTOP SUB SUB SECTION (sub section of A)********/
@media only screen and (min-width: 701px) and (max-width: 958px) {
  .section1-v2 {
    padding: 4% 14% 19%;
  }
  .section1-v2 img {
    bottom: 11%;
  }

  .about.section2 {
    padding: 6% 0% 10%;
  }
}

/******** DESKTOP SUBSECTION - SMALL/MEDIUM SCREENS ********/
@media only screen and (min-width: 959px) and (max-width: 1249px) {

	.section1 {
		padding: 5% 0 18%;
	}

  .about.section2 {
    padding: 6% 0% 9%;
  }
  .about .bio.juan p {
    /* padding-left: 5%; */

    padding-left:0;
  }
  .about.section2 h2 {
    margin: 0 0 36px 0;
  }
  .alex p {
    margin-left: 6px;
  }
  .about h3 {
    font-size: 1.2em;
    margin: 2% 0 8% 0;
  }
  .about.section2 .juan .outer-img-wrapper {
    right: -2%;
  }
  .about .juan h3 {
    margin: 2% 0 8% 0;
  }

  .section5.about p {
    font-size: 1.3em;
  }

}

/******** DESKTOP SUBSECTION - MED/LARGE SCREENS ********/
@media only screen and (min-width: 1250px) and (max-width: 1600px){

  h2 {
    font-size: 3.8em;
  }
  p {
    font-size: 1.8em;
    line-height: 1.3;
  }

  .section1-v2 {
    padding: 4% 14% 18%;
  }

  .about.section2 h2 {
    margin: 0 0 4% 0;
  }
  .about h3 {
    font-size: 2.4em;
  }
  .about.section2 {
    padding: 6% 0% 4%;
  }
  .about .bio.juan p {
    padding-left: 0;
    /* padding-left: 6%; */

  }
  .alex p {
    margin-left: 6px;
  }

  .section5.about {
    padding: 1% 0 50%;
  }

}

/******** DESKTOP SUBSECTION - LARGE SCREENS ********/
@media only screen and (min-width: 1601px) and (max-width: 2199px) {

  .about.section2 {
    padding: 6% 0% 7%;
  }
  .about.section2 h2 {
    margin: 0 0 3% 0;
  }
  .about.section2 p {
    font-size: 2.2em;
  }
  .about h3 {
    font-size: 2.5em;
  }

  .section5.about {
    padding: 1% 0 51%;
  }

}

/******** DESKTOP SUBSECTION - LARGEST SCREENS ********/
@media only screen and (min-width: 2200px) {
	.section1 {
		padding: 5% 0 18%;
	}

  .about.section2 {
    padding: 6% 0% 7%;
  }
  .about.section2 h2 {
    margin: 0 0 3% 0;
  }
  .about.section2 p {
    font-size: 3.3em;
    line-height: 1.3;
    margin-bottom: 50px;
  }
  .about h3 {
    font-size: 3.8em;
    margin: 1% 0 9% 0;
  }
  .alex p {
    margin-left: 3%;
  }
  .about .bio.juan p {
    /* padding-left: 4%; */
    padding-left: 0;

  }
  .about .content {
    width: 75%;
  }

}
