/* main.css file - fonts, font sizes, navigation bar */
/* non-media query styling built at @1440 */

@import url('https://fonts.googleapis.com/css?family=Oswald:600|Bitter');
@font-face {
	font-family: 'Sequel Rounded';
	src: url('/assets/fonts/OGJ Type Design - Sequel Rounded Extended.otf'),
		url('/assets/fonts/OGJ Type Design - Sequel Rounded Extended.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

:root {
  --orange: #ee6b00;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
  font-size:12px;
  width: 100%;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  /* overflow-x: hidden;  */
}
h1 {
  font-family: 'Sequel Rounded', sans-serif;
  position: absolute;
  top: 60%;
  color: white;
  letter-spacing: .6em;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  text-align: center;
}
h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
	margin: 0 0 53px 0;
	letter-spacing: 1.4px;
	font-size: 3.8em;
}
h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 6% 0 12% 0;
  letter-spacing: 3.4px;
  font-size: 1.5em;
}
p {
  font-family: 'Bitter', serif;
	letter-spacing: 1px;
	margin-bottom: 33px;
  font-size: 1.8em;
	line-height: 1.4;
}


/*  NAVIGATION  */
header {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.3) 30%, rgba(0,0,0,.6) 40%);
  position: absolute;
  z-index: 99;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Sequel Rounded', sans-serif;
  letter-spacing: .2em;
	/* to adjust font/height of header */
  max-height: 47px;
	font-size: .8em;
}
header ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header > ul > li {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
	padding: 0 6%;
}
/* nested nav */
header ul ul {
  border-top: 1px solid #FF8110;
  display: none;
	margin: 17px auto 0;
	padding: 0 0 20px;
	width: 87%;
}
header ul ul li {
  font-size: .9em;
  cursor: pointer;
  color: #fff;
	padding: 12px 0;
	position: relative;
	/* to adjust font/height of header */
	margin: 0 -20px;
}
header a {
  text-decoration: none;
}
header a, header a:visited, header a:hover, header a:active {
  color: inherit;
}
.sub-nav-wrapper {
	margin: -18px -34% 0;
	padding: 18px 0 0 0;
  width: 170%;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #FF8110;
  margin: 0 auto 9px;
}
.hover-over-services {
  border-radius: 6.5px;
  background: #444443;
}
.hover-over-services-ul {
	border-bottom-right-radius: 6.5px;
	border-bottom-left-radius: 6.5px;
}
.underlined {
	width:50%;
	border-bottom:1px solid #FF8110;
	margin: 0 auto;
	position: absolute;
  bottom: 0; left: 0; right: 0;
}


/* ------------------------------------------
/************* MEDIA QUERIES ****************/
/* ---------------------------------------- */
/*
Mobile <= 576
- sub range: 0-399
- sub range: 400-575

Desktop = 576+
- 576-958
  - 576-700
- 959-1249
- 1250-1600
- 1601-2199
- 2200+ (thunderbolt)
/*
/* ------------------------------------------
/*******************************************/
/* ---------------------------------------- */

/***** ALL MOBILE *****/
@media only screen and (max-width: 575px) {
  p {
    line-height: 1.3;
    font-size: 1.3em;
    margin: 0 0 6% 0;
  }
  h2 {
    font-size: 2.1em;
    margin: 0 auto 6%;
    text-align: center;
  }
  header {
    top: 0;
    max-height: 56px;
    min-height: 56px;
    background: rgba(12,12,12,.4);
    font-size: .6em;
    text-align: left;
    letter-spacing: .1em;
  }

	header .outer-img-wrapper {
		position: absolute;
		width: 36px;
		top: 9px;
	}
	header .img-wrapper {
		width: 100%;
		padding-bottom: 100%;
		position: relative;
	}
	header .img-div {
		background:url("/assets/logo_mobile.png") no-repeat center;
		background-size:cover;
		background-position: center;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
	}

  header > ul {
    -webkit-padding-start: 0px;
    display: inline-block;
		/* border: .5px solid red; */
  }
  header > ul > li {
    padding: 24px 0;
    text-align: center;
		/* border: .5px solid; */
  }
  header ul ul li {
    font-size: .8em;
    padding: 9px 0;
  }
  header ul ul li:first-child {
    margin-top: 7px;
  }
  header > ul > li:last-child {
    margin-right: 3%;
  }
  header ul ul {
    background: none;
    margin: 23px auto 0;
    padding: 0 0 0;
  }
  .sub-nav-wrapper {
    margin: 0;
    padding: 0;
    width: auto;
  }
  .arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FF8110;
    margin: 0 auto -4px;
  }
  .services-expanded {
    background: rgba(12,12,12,.7);
    color: #FF8110;
  }

	.error404 a {
		font-size: 1em;
		padding: 15px 25px;
	}
	.error404 img {
		width: 90px;
	}
	.error404 p {
		margin-bottom: 40px;
	}
}

/* ***** MOBILE - SUB SECTION A **** */
@media only screen and (max-width: 399px) {
  header .outer-img-wrapper {
    left: 3%;
    top: 10px;
  }
  header > ul {
		width: 83%;
    margin: 0 0 0 15%;
  }
  header > ul > li:first-child {
    width: 47%;
  }
  header > ul > li:nth-child(2) {
    width: 22%;
  }
  header > ul > li:last-child {
    width: 27%;
		margin-right: 0%;
  }
}

/* ***** MOBILE - SUB SECTION B **** */
@media only screen and (min-width: 400px) and (max-width: 575px) {
  h2 {
		font-size: 2.3em;
	}

	header {
		font-size: .7em;
	}
	header > ul {
		width: 85%;
		margin: 0 0 0 14%;
	}
	header ul ul li {
		padding: 11px 0;
	}
	.arrow-down {
		margin: 0 auto 1px;
	}
	header .outer-img-wrapper {
		left: 4%;
		width: 39px;
	}
	header > ul > li:first-child {
		width: 48%;
	}
	header > ul > li:nth-child(2) {
		/* text-align: left; */
		width: 21%;
	}
	header > ul > li:last-child {
		/* text-align: left; */
		width: 25%;
	}
}

/******** ALL DESKTOP ********/
@media only screen and (min-width: 576px) {
  .navigation li:hover {
    color: #FF8110;
  }
	header .outer-img-wrapper {
		position: absolute;
		width: 5%;
		left: 3%;
		cursor: pointer;
	}

	header .img-wrapper {
		width: 132%;
		padding-bottom: 150%;
		position: relative;
	}
	header .img-div {
	  background:url("/assets/logo_desktop.png") no-repeat center;
		background-size:cover;
		background-position: center;
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
	}
	header > ul {
		/* to adjust font/height of header */
		padding: 18px 0;
	}

	.error404 a {
		font-size: 1.4em;
		padding: 24px 38px;
	}
	.error404 img {
		width: 130px;
	}
	.error404 p {
		margin-bottom: 60px;
	}
}

/******** DESKTOP SUB SECTION A ********/
@media only screen and (min-width: 576px) and (max-width: 958px) {
	h2 {
		font-size: 2em;
		margin: 0 0 34px 0;
	}
	p {
		font-size: .9em;
		margin-bottom: 18px;
	}

	header .outer-img-wrapper {
		top: -11px;
	}

	header {
		top: 17px;
		font-size: .4em;
		max-height: 24px;
	}
	header > ul {
		padding: 9px 0;
	}
	.sub-nav-wrapper {
    margin: -10px -34% 0;
		padding: 10px 0 0 0;
	}
	header ul ul {
		margin: 8px auto 0;
		padding: 0 0 10px;
		width: 80%;
	}
	header ul ul li {
		padding: 8px 0;
	}
	.arrow-down {
		border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FF8110;
    margin: 0 auto 0;
	}
}


/******** DESKTOP SUB SUB SECTION (sub section of A)********/
@media only screen and (min-width: 576px) and (max-width: 700px) {
	h2 {
		font-size: 1.7em;
		margin: 0 0 20px 0;
	}
	p {
		font-size: .7em;
		margin-bottom: 10px;
	}

	header {
		top: 15px;
	}
}

@media only screen and (min-width: 701px) and (max-width: 958px) {

}

/******** DESKTOP SUBSECTION - SMALL/MEDIUM SCREENS ********/
@media only screen and (min-width: 959px) and (max-width: 1249px) {

	h2 {
		font-size: 2.7em;
		margin: 0 0 38px 0;
	}
	p {
		font-size: 1.2em;
		margin-bottom: 22px;
	}

	header {
		top: 30px;
		max-height: 30px;
		font-size: .6em;
	}
	header .outer-img-wrapper {
		top: -22px;
	}
	header > ul {
		padding: 11px;
	}
	.sub-nav-wrapper {
		margin: -11px -29% 0;
		padding: 11px 0 0 0;
		width: 155%;
	}
	header ul ul {
		margin: 11px auto 0px;
	}
	.arrow-down {
		margin: 0 auto 4px;
		border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FF8110;
	}
	header ul ul {
		padding: 0 0 14px;
	}
	header ul ul li {
		padding: 9px 0;
		font-size: .7em;
	}
	header > ul > li {
		padding: 0 7%;
	}

}

/******** DESKTOP SUBSECTION - MED/LARGE SCREENS ********/
@media only screen and (min-width: 1250px) and (max-width: 1600px){
	h2 {
		font-size: 3.8em;
	}
	p {
		font-size: 1.8em;
		line-height: 1.3;
	}

	header {
		top: 30px;
	}
	header .outer-img-wrapper {
		top: -20px;
	}
}

/******** DESKTOP SUBSECTION - LARGE SCREENS ********/
@media only screen and (min-width: 1601px) and (max-width: 2199px) {
	h2 {
		font-size: 4.8em;
		margin: 0 0 62px 0;
	}
	p {
		font-size: 2.1em;
		line-height: 1.3;
	}

	header .outer-img-wrapper {
		top: -31px;
	}
	header {
		top: 46px;
		max-height: 50px;
		font-size: 1em;
	}
	header > ul {
		padding: 18px;
	}
	.sub-nav-wrapper {
		margin: -18px -29% 0;
		padding: 18px 0 0 0;
		width: 155%;
	}
	header ul ul {
		margin: 18px auto 13px;
	}
	.arrow-down {
		margin: 0 auto 4px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid #FF8110;
	}
	header ul ul {
		padding: 0 0 16px;
	}
	header ul ul li {
		padding: 16px 0;
		font-size: .7em;
	}
	header > ul > li {
		padding: 0 7%;
	}
}

/******** DESKTOP SUBSECTION - LARGEST SCREENS ********/
@media only screen and (min-width: 2200px) {
	h2 {
		font-size: 6.8em;
		margin: 0 0 95px 0;
	}
	p {
		font-size: 3.4em;
    line-height: 1.2;
	}

	header .outer-img-wrapper {
		top: -50px;
	}

	header {
		top: 67px;
    font-size: 1.4em;
    max-height: 80px;
	}
	header > ul {
		padding: 29px 0;
	}
	.sub-nav-wrapper {
		margin: -29px -22% 0;
    padding: 29px 0 0 0;
    width: 167%;
	}
	header ul ul {
		margin: 11px auto 0px;
	}
	.arrow-down {
		margin: 0 auto 4px;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #FF8110;
	}
	header ul ul {
		margin: 31px auto 0;
		border-top: 2px solid #FF8110
	}
	header ul ul li {
		padding: 24px 0;
		font-size: .7em;
	}
	header > ul > li {
		padding: 0 7%;
	}
}
