<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact 10ZING Digital to Discuss How We Might Work Together</title>
    <link href="/styles/main.css" type="text/css" rel="stylesheet">
    <link href="/styles/contact.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Send 10ZING Digital a note about your internet marketing needs. We can audit any or all of your digital marketing programs, and make recommendations.">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  </head>
  <body>

    <header>
      <div id="home" class="outer-img-wrapper">
        <div class="img-wrapper">
          <div class="img-div">
          </div>
        </div>
      </div>
      <ul class="navigation">
        <li>
          <div class="sub-nav-wrapper">
          <span>MARKETING SERVICES</span>
            <ul id="services">
              <div class="arrow-down"></div>
              <li id="facebook-link">
                <a>FACEBOOK ADVERTISING</a>
                <div></div>
              </li>
              <li id="paid-link">
                <a>PAID SEARCH MARKETING</a>
                <div></div>
              </li>
              <li id="seo-link">
                <a>SEO KEYWORD OPTIMIZATION</a>
                <div></div>
              </li>
              <li id="measurement-link">
                <a>MEASUREMENT & ANALYTICS</a>
                <div></div>
              </li>
              <li id="cross-channel-link">
                <a>CROSS-CHANNEL STRATEGY</a>
                <div></div>
              </li>
            </ul>
          </div>
        </li>
        <li id="about">ABOUT US</li>
        <li id="contact">CONTACT US</li>
      </ul>
    </header>

    <section class="contact-us">

      <div class="contact-wrapper">
        <h2>CONTACT US</h2>
        <section class="contact-form-container">
            <form id="contact-form" action="https://formspree.io/info@10zingdigital.com" method="POST">
              <input type="text" name="name" placeholder="*Name" class="text-box" required />
              <input type="email" name="_replyto" placeholder="*Email" class="text-box even" required />
              <input type="text" name="company" placeholder="Company" class="text-box" />
              <input type="tel" name="phone" placeholder="Phone" class="text-box even" />
              <textarea name="message" placeholder="*Questions/Comments" class="message" required></textarea>
              <input class="is-hidden" type="text" name="_gotcha">
              <input type="hidden" name="_next" value="http://www.10zingdigital.com/thank-you" />
              <input type="submit" value="SUMMIT" class="submit">
            </form>
          <span class="required">*Required</span>
        </section>
      </div>
    </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="index.js"></script>
  </body>

</html>
